[build]
  base = "noteweb"
  command = "npm run build"
  publish = "noteweb/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript"